NFT_MINT_DOMAIN=mint.example.com
DOCKER_NETWORK=caddy

NEXT_PUBLIC_CONTRACT_ADDRESS=0x34E5Ebe6693D3Dc5242D0DE454aEE618088A10CA
NEXT_PUBLIC_CONTRACT_DEPLOY_BLOCK=29530868
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_NFT_IMAGE_URL=

ADMIN_BASIC_AUTH_USER=
ADMIN_BASIC_AUTH_PASSWORD=
